// === FONT IMPORTS:
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
// ----: font-family: 'Oooh Baby', cursive;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
// ----: font-family: 'Comfortaa', cursive;

// ======================
* {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	transition: .8s cubic-bezier(0.18, 0.89, 0.34, 1.28);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	
}

// Variables ===: 
$default-blu: #116ffc;

body {
	overflow-x: hidden;
	background-color: white;
	width: 100%;
}

.floating-icon {
	display: flex;
	flex-flow: column;
	background-color: white;
	overflow: visible;
	padding: 7px;
	position: fixed;
	transform: translateY(100px);
	opacity: 0;
	right: 20px;
	bottom: 20px;
	border-radius: 100%;
	cursor: pointer;
	box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.6);

	span {
		font-size: 40px;
		color: $default-blu;
		user-select: none;
	}
} .floating-icon:hover {
	transform: scale(1.2);
} 
.floating-icon-toggle {
	transform: translateY(0px);
	opacity: 1;
}

@mixin display-template(
	$dis-dt: grid, 
	$gtc-dt: auto,
	$just-dt: start, 
	$align-dt: flex-start,
	$gap-dt: 100px
	) {
	display: $dis-dt;
	grid-template-columns: $gtc-dt;
	justify-items: $just-dt;
	align-items: $align-dt;
	gap: $gap-dt;
}



.parent-nav-section {
	background-image: url('../imgs/portfolio-nav-img-1.png');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 650px;
	flex-flow: column;
	margin-bottom: 1px;
	margin: auto;
	animation-name: parent-nav-section-ani;
	animation-duration: 1s;

	@include display-template(
		$dis-dt: flex,
		$just-dt: center, 
		$align-dt: center,
		$gap-dt: 50px
	);
	
	.n-nav {
		background-color: transparent;
		// border: 1px solid $default-blu;
		width: 100%;
		height: 80px;
		padding: 0px 30px;
		flex-flow: row;

		@include display-template(
			$dis-dt: flex,
			$just-dt: center, 
			$align-dt: center,
			$gap-dt: 0px
		);

		.logo {
			display: grid;
			grid-template-columns: auto;
			margin-right: auto;
			padding: 0px 0px 0px 0px;

			a {
				width: 100%;
				text-decoration: none;
				color: white;
				font-family: 'Oooh Baby', cursive;
				letter-spacing: 5px;
			} a:hover {
				opacity: 0.6;
			}
		}

		.links {
			display: flex;
			flex-flow: row;
			justify-content: center;
			align-items: center;
			gap: 10px 20px;
			border: 1px solid $default-blu;
			padding: 10px 50px;
			border-radius: 20px;
			width: 200px;

			a {
				text-align: center;
				width: 100%;
				text-decoration: none;
				font-size: 17px;
				color: white;
			} a:hover {
				opacity: 0.6;
			}
		}

		.link-btn {
			display: grid;
			grid-template-columns: auto;
			margin-left: auto;

			a {
				width: 100%;
				display: grid;
				grid-template-columns: auto auto;
				align-items: center;
				font-size: 30px;
				color: white;
				font-family: 'Oooh Baby', cursive;
				text-decoration: none;

				img {
					align-self: center;
				}
			} a:hover {
				opacity: 0.6;
			}
		}

		@media screen and (max-width: 630px) {
			.logo {
				display: grid;
				grid-template-columns: auto;
				margin: auto;
				padding: 0px 0px 0px 0px;
			}
	
			.links {
				flex-flow: column;
				border: 1px solid $default-blu;
				width: fit-content;
			}
	
			.link-btn {
				display: grid;
				grid-template-columns: auto;
				margin: auto;
			}
		}
	}

	.n-header {
		display: grid;
		grid-template-columns: auto;
		justify-items: center;
		align-items: center;
		gap: 10px;
		width: 100%;

		h1 {
			color: white;
			font-size: 100px;
		}

		p {
			font-size: 30px;
			color: white;
			letter-spacing: 40px;
			font-weight: 100;
			margin-left: 30px;
			font-family: 'Comfortaa', cursive;
		}
	}

	@media screen and (max-width: 630px) {
		.n-nav {
			flex-flow: column;
			padding: 20px;
			gap: 20px;
		}

		.n-header {
			margin-top: 130px;
			padding: 20px;
			border-top: 1px solid $default-blu;
			text-align: center;
	
			h1 {
				color: white;
				font-size: 50px;
			}
	
			p {
				font-size: 20px;
				color: white;
				letter-spacing: 20px;
				font-weight: 100;
				margin-left: 25px;
				font-family: 'Comfortaa', cursive;
			}
		}
	}
}
@keyframes parent-nav-section-ani {
	from {
		transform: translateY(-300px);
		opacity: 0;
	}

	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

.parent-content-header-section {
	width: 1400px;
	margin: auto;
	background-color: #111;
	border-radius: 20px;
	height: 200px;
	position: relative;
	bottom: 200px;
	box-shadow: 0px 10px 30px rgba($color: #000000, $alpha: 0.5);
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
	align-items: center;
	gap: 250px;
	animation-name: parent-content-header-section;
	animation-duration: 1s;
	
	.content-section-1 {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-content: center;

		@mixin position-movement($pos: 80px) {
			position: relative;
			bottom: $pos;
		}

		.c-header {
			@include position-movement();
			background-color: $default-blu;
			padding: 15px 40px;
			border-radius: 100px;
			text-align: center;
			display: flex;
			flex-flow: column;
			width: 500px;
			margin: auto;

			h1 {
				font-size: 70px;
				color: white;
			}

			p {
				font-size: 15px;
				color: white;
				font-family: 'Comfortaa', cursive;
			}
		}

		.c-sub-header-boxes {
			@include position-movement(
				$pos: 60px
			);
			display: grid;
			justify-content: start;
			grid-template-columns: 
				auto auto 
				auto auto 
				auto auto
				auto;
			cursor: default;
			gap: 50px;
			width: 1000px;
			margin: auto;
			overflow-x: scroll;
			padding-bottom: 20px;

			.box-1 {
				display: flex;
				flex-flow: column;
				text-align: center;
				width: 200px;
				height: auto;

				h1 {
					font-size: 50px;
					color: white;
				}
	
				p {
					display: flex;
					flex-flow: row;
					align-items: center;
					font-size: 17px;
					margin: auto;
					gap: 5px;
					color: white;

					.experience-year-number {
						color: $default-blu;
						font-size: 20px;
						font-weight: 600;
					}
				}
			} .box-1:hover {
				transform: scale(0.9);
			}
		} .c-sub-header-boxes::-webkit-scrollbar {
			height: 7px;
			width: 7px;
		} .c-sub-header-boxes::-webkit-scrollbar-thumb {
			background-color: #333;
		} .c-sub-header-boxes::-webkit-scrollbar-track {
			background-color: #ddd;
		}

		@media screen and (max-width: 1450px) {
	
			.c-sub-header-boxes {
				display: grid;
				grid-template-columns: auto auto auto;
				justify-content: start;
				gap: 50px;
				overflow: hidden;
				scroll-snap-type: none;
				width: auto;
	
				.box-1 {
					background-color: white;
					box-shadow: 0px 5px 5px rgba($color: #000000, $alpha: 0.1);
					border-radius: 10px;
					padding: 20px;
					width: 300px;
					height: 150px;
					scroll-snap-align: inherit;
	
					h1 {
						font-size: 50px;
						color: black;
					}
		
					p {
						display: flex;
						flex-flow: row;
						align-items: center;
						font-size: 17px;
						margin: auto;
						gap: 5px;
						color: black;
	
						.experience-year-number {
							color: $default-blu;
							font-size: 20px;
							font-weight: 600;
						}
					}
				}
			}
		}

		@media screen and (max-width: 1070px) {
	
			.c-sub-header-boxes {
				grid-template-columns: auto auto;
			}
		}
		
		@media screen and (max-width: 730px) {
	
			.c-sub-header-boxes {
				grid-template-columns: auto;
				height: 800px;
				overflow-y: scroll;
				padding: 0px 20px;
			}
		}

		@media screen and (max-width: 630px) {

			.c-header {
				width: 100%;
				margin: auto;
	
				h1 {
					font-size: 50px;
				}
	
				p {
					font-size: 14px;
				}
			}
	
			.c-sub-header-boxes {
				grid-template-columns: auto;
			}
		}
	}
}
@keyframes parent-content-header-section {
	from {
		transform: translateY(-500px);
	}

	to {
		transform: translateY(0px);
	}
}

@media screen and (max-width: 1450px) {

	.parent-content-header-section {
		width: 95%;
	}
}

@media screen and (max-width: 730px) {

	.parent-content-header-section {
		height: 900px;
	}
}

@media screen and (max-width: 630px) {

	.parent-content-header-section {
		margin-top: 50px;
	}
}



%project-display-template { // ==
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.parent-project-section {
	@extend %project-display-template;
	width: 100%;

	.p-header {
		width: 100%;
		text-align: center;
		padding: 20px;

		h1 {
			font-size: 80px;
			width: 100%;
			letter-spacing: 20px;		
		}
		@media screen and (max-width: 650px) {
			h1 {
				font-size: 60px;
				letter-spacing: 0px;
			}
		}
	}

	.p-project-section {
		@extend %project-display-template;
		width: 100%;

		%ps-container-template { // ==
			width: 1500px;
			// border: 1px solid white;
			padding: 10px;
			margin: auto;
			display: grid;
			grid-template-columns: auto auto;
			justify-content: space-around;
			align-items: center;
		}
		
		%psc-header-template { // ==
			width: 100%;
		}
		%psc-header-item-template { // ==
			font-size: 80px;
			width: 400px;
			color: white;
		}

		%psc-project-slider-template { // ==
			// border: 1px solid white;
			border-radius: 20px;
			width: 700px;
			height: 360px;
			padding: 20px;
			overflow: hidden;
			overflow-x: scroll;
			display: grid;
			grid-template-columns: 
				auto auto auto;
			justify-content: start;
			align-items: center;
			gap: 30px;
			scroll-snap-type: x mandatory;
		}
		%project-slide-template { // ==
			width: 300px;
			height: 300px;
			background-color: #333;
			border-radius: 10px;
			padding: 5px;
			scroll-snap-align: center;
			user-select: none;
			transition: .3s cubic-bezier(0.18, 0.89, 0.34, 1.28);

			img {
				width: 100%;
				border-radius: 10px;
				height: 290px;
				cursor: pointer;
			} img:hover {
				opacity: 0.5;
			}
		} %project-slide-template:hover {
			transform: scale(.95);

			img {
				opacity: 0.3;
			}
		} %project-slide-template:hover::after {
			content: 'Click Picture';
			width: fit-content;
			height: max-content;
			color: white;
			cursor: pointer;
			position: relative;
			bottom: 220px;
			left: 40px;
			font-size: 40px;
		}

		// Variables:
		$project-sections-height: 600px;

		.projects-section-1 {
			@extend %project-display-template;
			background-color: $default-blu;
			width: 100%;
			height: $project-sections-height;

			.ps-container {
				@extend %ps-container-template;

				.psc-header {
					@extend %psc-header-template;
					
					h1 {
						@extend %psc-header-item-template;
					}
				}

				.psc-project-slider {
					@extend %psc-project-slider-template;
	
					.project-slide {
						@extend %project-slide-template;
					}
				} .psc-project-slider::-webkit-scrollbar {
					height: 20px;
				} .psc-project-slider::-webkit-scrollbar-thumb {
					background-color: white;
					border-radius: 20px;
				} .psc-project-slider::-webkit-scrollbar-track {
					background-color: transparent;
					border-radius: 20px;
					box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.2);
				}
			} 

		} 
		
		.projects-section-2 {
			@extend %project-display-template;
			background-color: #222;
			width: 100%;
			height: $project-sections-height;

			.ps-container {
				// width: 50%;
				padding: 10px;
				margin: auto;
				display: grid;
				grid-template-areas: 
				"psc-project-slider psc-header";
				justify-content: space-around;
				align-items: center;
				gap: 300px;

				.psc-header {
					@extend %psc-header-template;
					grid-area: psc-header;

					h1 {
						@extend %psc-header-item-template;
					}
				}

				.psc-project-slider {
					@extend %psc-project-slider-template;
					grid-area: psc-project-slider;
	
					.project-slide {
						@extend %project-slide-template;
					}
				} .psc-project-slider::-webkit-scrollbar {
					height: 20px;
				} .psc-project-slider::-webkit-scrollbar-thumb {
					background-color: $default-blu;
					border-radius: 20px;
				} .psc-project-slider::-webkit-scrollbar-track {
					background-color: transparent;
					border-radius: 20px;
					box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.2);
				}
			} 

		}
		
		.projects-section-3 {
			@extend %project-display-template;
			background-color: rgb(223, 223, 223);
			width: 100%;
			height: $project-sections-height;

			.ps-container {
				@extend %ps-container-template;

				.psc-header {
					@extend %psc-header-template;
					
					h1 {
						@extend %psc-header-item-template;
						color: #222;
					}
				}

				.psc-project-slider {
					@extend %psc-project-slider-template;
	
					.project-slide {
						@extend %project-slide-template;
					}
				} .psc-project-slider::-webkit-scrollbar {
					height: 20px;
				} .psc-project-slider::-webkit-scrollbar-thumb {
					background-color: #222;
					border-radius: 20px;
				} .psc-project-slider::-webkit-scrollbar-track {
					background-color: transparent;
					border-radius: 20px;
					box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.2);
				}
			} 

		}

		@media screen and (max-width: 1500px) {

			.projects-section-1 {
				height: 700px;
			}
			.projects-section-2 {
				height: 700px;

				.ps-container {
					width: 100%;
					grid-template-areas: 
					"psc-header"
					"psc-project-slider";
					gap: 0px;
				} 
			}	
			.projects-section-3 {
				height: 700px;
			}

			%psc-project-slider-template { // ==
				width: 650px;
			}

			%ps-container-template { // ==
				width: 100%;
				padding: 10px;
				margin: auto;
				display: grid;
				grid-template-columns: auto;
				justify-content: center;
				align-items: center;
			}

			%psc-header-item-template { // ==
				font-size: 70px;
				width: 100%;
				text-align: center;
			}
		}

		@media screen and (max-width: 750px) {

			.projects-section-1 {
				height: 700px; // Never changed from previous media query
			}
			.projects-section-2 {
				height: 700px; // Never changed from previous media query
			}	
			.projects-section-3 {
				height: 700px; // Never changed from previous media query
			}

			%psc-project-slider-template { // ==
				width: 350px; 
				margin: auto;
			}

			%ps-container-template { // ==
				width: 100%;
				padding: 10px;
				margin: auto;
				display: grid;
				grid-template-columns: auto;
				justify-content: center;
				align-items: center;
			}

			%psc-header-item-template { // ==
				font-size: 70px;
				width: 100%;
				text-align: center;
			}
		}
	}
}
@media screen and (max-width: 1450px) {
	.parent-project-section {
		margin-top: 300px;
	}
}

@media screen and (max-width: 1070px) {
	.parent-project-section {
		margin-top: 500px;
	}
}

@media screen and (max-width: 730px) {
	.parent-project-section {
		margin-top: 0px;
	}
}

.parent-footer-section {
	width: 100%;
	height: auto;
	background-color: #222;
	padding: 50px;

	.sub-parent-footer {
		display: grid;
		grid-template-columns: auto;
		justify-content: center;
		margin-top: 50px;
		gap: 100px;
		height: 250px;

		%f-section-template { // ==
			// border: 1px solid $default-blu;
			// background-color: #333;
			width: 100%;
			margin: auto;
			height: 200px;
			text-align: center;

			h1 {
				font-size: 30px;
				color: $default-blu;
				margin-bottom: 10px;
			}

			p {
				font-size: 16px;
				color: white;

				span {
					font-size: 16px;
					color: white;
					user-select: none;
				}

				i {
					font-size: 16px;
					color: $default-blu;
				}
			}

			a {
				font-size: 16px;
				color: white;
				text-decoration: none;
				cursor: pointer;

				img {
					width: 20px;
				}

			} a:hover {
				opacity: 0.5;
			}
		}

		.f-sections-1-2-4 {
			@extend %f-section-template;
			display: grid;
			grid-template-columns: auto auto auto;
			justify-content: center;
			align-items: flex-start;
			gap: 50px;

			%child-f-sections-template {
				display: flex;
				flex-flow: column;
				align-items: flex-start;
				justify-content: start;
			}

			.f-section-1 {
				@extend %child-f-sections-template;
				display: flex;
				flex-flow: column;
				gap: 5px;
			}

			.f-section-2 {
				@extend %child-f-sections-template;
				display: flex;
				flex-flow: column;
				gap: 5px;
			}

			.f-section-4 {
				@extend %child-f-sections-template;
				display: flex;
				flex-flow: column;
				gap: 5px;

				.footer-icons {
					display: flex;
					flex-flow: row;
					margin-top: 5px;
					gap: 6px;
				}
			}

			.water-mark {
				opacity: 1; 
				font-size: 15px; 
				color: #333;
				margin: auto;
				grid-column: 1/4;
			}
		}

		@media screen and (max-width: 1030px) {
			
			.f-sections-1-2-4 {
				gap: 50px;
				grid-template-columns: auto auto;
				height: auto;
				padding-bottom: 20px;

				.water-mark {
					position: relative;
					top: 100px;
					grid-column: 1/3;
				}
			}
		}

		@media screen and (max-width: 730px) {
			
			.f-sections-1-2-4 {
				gap: 50px;
				grid-template-columns: auto;
				height: auto;
				padding-bottom: 20px;

				.water-mark {
					position: relative;
					top: 100px;
					grid-column: 1/2;
				}
			}
		}
	}

	@media screen and (max-width: 1030px) {
		
		.sub-parent-footer {
			grid-template-areas: 
				"f-section-1-2-3"
				"f-section-4";
			gap: 100px;
			justify-items: center;
			align-items: center;
			height: auto;
		}
	}
}

@media screen and (max-width: 1030px) {
	.parent-footer-section {
		height: auto;
	}
}